.notes {
  background-color: #0c988e;
  border: solid black;
  color: white;
  padding: 2px;
}

.complete {
  background-color: #4CAF50;
  border: solid black;
  color: white;
  padding: 2px;
}

.inputBox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputField {
  background-color: white;
  display: inline;
  border: solid black 1px;
  padding: 15px;
}

.todo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry{

}
